/* Global Styles */
:root {
    --primary-color: #101010;  /* Black */
    --accent-color: #A4251D;   /* Gray */
    --background-color: #F5F3EF;
  }  

body {
    margin: 30px;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
  } 
  